header {
	width: 100%;
	padding: 10px 0;
	position: absolute;
	top: 0;
	left: 0;
	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		h1 {
			width: 60px;
			height: 60px;
			background: #4b84db;
			text-align: center;
			a {
				display: block;
				font-size: 20px;
				line-height: 60px;
				color: #e1f9fe;
			}
		}
		.menuWeb {
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			#gnb {
				ul {
					display: flex;
					li {
						margin-left: 30px;
						line-height: 60px;
						a {
							padding: 5px;
							font-size: 16px;
							font-weight: bold;
							color: #fff;
							position: relative;
							&::after {
								content: '';
								width: 0%;
								height: 2px;
								background: #4b84db;
								position: absolute;
								top: 100%;
								left: 50%;
								transition: 0.3s;
							}
							&:hover {
								&::after {
									left: 0%;
									width: 100%;
								}
							}
						}
					}
				}
			}
			.util {
				display: flex;
				li {
					margin-left: 20px;
					line-height: 60px;
					a {
						color: #fff;
						transition: 0.3s;
						&:hover {
							color: #4b84db;
						}
					}
				}
			}
		}
		.btnCall {
			display: none;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 50%;
			right: 0%;
			margin-top: -10px;
			z-index: 4;
			cursor: pointer;
			span {
				display: block;
				width: 100%;
				height: 2px;
				background: #fff;
				text-indent: -99999px;
				color: transparent;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -2px;
				transition: opacity 0.5s;
			}
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: #fff;
				position: absolute;
				top: 0;
				right: 0;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				background: #fff;
				position: absolute;
				bottom: 0;
				right: 0;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			&.on {
				position: fixed;
				top: 40px;
				right: 2.5%;
				span {
					opacity: 0;
				}
				&::before {
					top: 50%;
					margin-top: -1px;
					transform: rotate(-45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(45deg);
				}
			}
		}
	}

	&.sub {
		position: static;
		.inner {
			.menuWeb {
				#gnb {
					ul {
						li {
							a {
								color: #333;
							}
						}
					}
				}
				.util {
					li {
						a {
							color: #333;
							&:hover {
								color: #4b84db;
							}
						}
					}
				}
			}
			.btnCall {
				span {
					background: #333;
					transition: opacity 0.5s, background 1s;
				}
				&::before {
					background: #333;
					transition: top 0.5s 0s, transform 0.5s 0.5s, background 1s;
				}
				&::after {
					background: #333;
					transition: bottom 0.5s 0s, transform 0.5s 0.5s, background 1s;
				}
				&.on {
					&::before {
						background: #fff;
					}
					&::after {
						background: #fff;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	header {
		.inner {
			width: 95%;
			.menuWeb {
				display: none;
			}
			.btnCall {
				display: block;
			}
		}
	}
}
