@mixin button(
	$width: 190px,
	$height: 45px,
	$background: $color1,
	$fontSize: 12px,
	$fontWeight: bold,
	$color: #fff,
	$transition: 0.5s
) {
	display: block;
	width: $width;
	height: $height;
	background: $background;
	border: transparent;
	text-align: center;
	font-size: $fontSize;
	font-weight: $fontWeight;
	color: $color;
	cursor: pointer;
	transition: $transition;
	&:hover {
		color: $background;
		background: $color;
	}
}

@mixin vidBtn() {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40px;
	width: 80px;
	height: 80px;
	background: rgba(255, 255, 255, 1);
	border-radius: 50%;
	border: transparent;
	font-size: 26px;
	cursor: pointer;
}

@mixin dark {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
}

@mixin clear {
	content: '';
	display: block;
	clear: both;
}
