#news {
	padding: 80px 0;
	background-repeat: no-repeat;
	background-position: 50% 58%;
	background-size: cover;
	position: relative;
	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.inner {
		width: 1180px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.text {
			width: 49%;
			position: relative;
			z-index: 2;
			h2 {
				font-size: 20px;
				color: #fff;
				margin-bottom: 40px;
			}
			p {
				font-size: 12px;
				color: #fff;
				margin-bottom: 40px;
			}
			.btn {
				@include button;
			}
		}
		.chart {
			width: 49%;
			z-index: 2;
			p {
				font-size: 12px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 30px;
				position: relative;
				span {
					float: right;
				}
				i {
					content: '';
					display: block;
					width: 100%;
					height: 10px;
					background: rgba(255, 255, 255, 0.5);
					position: absolute;
					top: 120%;
					left: 0;
				}
				b {
					content: '';
					display: block;
					height: 10px;
					background: #fff;
					position: absolute;
					top: 120%;
					left: 0;
				}
				&:nth-of-type(1) {
					b {
						width: 20%;
					}
				}
				&:nth-of-type(2) {
					b {
						width: 45%;
					}
				}
				&:nth-of-type(3) {
					b {
						width: 75%;
					}
				}
				&:nth-of-type(4) {
					b {
						width: 95%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#news {
		.inner {
			width: 95%;
		}
	}
}

@media screen and (max-width: $mobile) {
	#news {
		.inner {
			flex-direction: column;
			.text {
				width: 100%;
				margin-bottom: 40px;
				h2 {
					text-align: center;
					margin-bottom: 20px;
				}
				p {
					margin-bottom: 20px;
				}
				.btn {
					margin: 0 auto;
				}
			}
			.chart {
				width: 100%;
			}
		}
	}
}
