#news {
	padding: 80px 0;
	background-repeat: no-repeat;
	background-position: 50% 58%;
	background-size: cover;
	position: relative;
	&::after {
		@include dark;
		z-index: 0;
	}
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.text {
			width: 49%;
			z-index: 1;
			overflow: hidden;
			position: relative;
			h2 {
				font-size: 20px;
				color: #fff;
				margin-bottom: 40px;
			}
			.slider {
				width: 100%;
				overflow: hidden;
				ul {
					width: calc(100% * 3);
					margin-left: -100%;

					li {
						width: calc(100% / 3);
						float: left;

						p {
							font-size: 12px;
							color: #fff;
							margin-bottom: 40px;
							strong {
								display: block;
								margin-bottom: 10px;
							}
						}
					}
				}
			}

			.btnNext,
			.btnPrev {
				position: absolute;
				bottom: 20%;
				right: 0;
				font-size: 18px;
				color: #fff;
				cursor: pointer;
			}
			.btnPrev {
				right: 10%;
			}

			.btn {
				@include button;
			}
		}
		.chart {
			width: 49%;
			z-index: 1;
			p {
				font-size: 12px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 30px;
				position: relative;
				span {
					float: right;
				}
				i {
					content: '';
					display: block;
					width: 100%;
					height: 10px;
					background: rgba(255, 255, 255, 0.5);
					position: absolute;
					top: 120%;
					left: 0;
				}
				b {
					content: '';
					display: block;
					height: 10px;
					background: #fff;
					position: absolute;
					top: 120%;
					left: 0;
				}
				&:nth-of-type(1) {
					b {
						animation: bar1 0.5s linear 0.5s forwards;
					}
				}
				&:nth-of-type(2) {
					b {
						animation: bar2 1s linear 0.5s forwards;
					}
				}
				&:nth-of-type(3) {
					b {
						animation: bar3 1.5s linear 0.5s forwards;
					}
				}
				&:nth-of-type(4) {
					b {
						animation: bar4 2s linear 0.5s forwards;
					}
				}
			}
		}
	}
}
@keyframes bar1 {
	0% {
		width: 0%;
	}
	100% {
		width: 20%;
	}
}
@keyframes bar2 {
	0% {
		width: 0%;
	}
	100% {
		width: 45%;
	}
}
@keyframes bar3 {
	0% {
		width: 0%;
	}
	100% {
		width: 75%;
	}
}
@keyframes bar4 {
	0% {
		width: 0%;
	}
	100% {
		width: 95%;
	}
}

@media screen and (max-width: $tablet) {
	#news {
		.inner {
			width: 95%;
		}
	}
}

@media screen and (max-width: $mobile) {
	#news {
		.inner {
			flex-direction: column;
			.text {
				width: 100%;
				margin-bottom: 40px;
				h2 {
					text-align: center;
					margin-bottom: 20px;
				}
				p {
					margin-bottom: 20px;
				}
				.btn {
					margin: 0 auto;
				}
			}
			.chart {
				width: 100%;
			}
		}
	}
}
