@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.ABOUT {
	.member {
		.inner {
			h2 {
				font-size: 40px;
				line-height: 120%;
				margin-bottom: 100px;
			}
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			li {
				width: calc(100% / 4);
				height: 50vh;
				position: relative;
				&:nth-of-type(11) {
					padding: 100px 50px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					h3 {
						font-size: 16px;
						font-weight: normal;
						&::before {
							content: '';
							display: inline-block;
							width: 20px;
							height: 2px;
							background: $color2;
							transform: rotate(-30deg);
							margin-right: 20px;
							vertical-align: middle;
						}
					}
					p {
						color: #000;
						font-size: 30px;
					}
					button {
						@include button($background: #fff, $color: $color2);
						border: 1px solid $color2;
						transition: 0.5s;
						position: relative;
						overflow: hidden;
						&::before {
							content: '';
							display: block;
							position: absolute;
							bottom: -110%;
							right: -50%;
							width: 100%;
							height: 100%;
							background: $color2;
							z-index: -1;
							transform: rotate(-30deg);
							transition: 0.5s;
						}
						&:hover {
							background: transparent;
							&::before {
								width: 180%;
								height: 350%;
							}
						}
					}
				}
				&:nth-of-type(12) {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						filter: grayscale(1);
						transition: 0.5s;
					}
				}
				.pic {
					width: 100%;
					height: 100%;
					overflow: hidden;
					filter: grayscale(1);
					transition: 0.5s;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					&::after {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.5);
						opacity: 0;
						transition: 0.5s;
					}
				}
				.info {
					position: absolute;
					bottom: 0%;
					left: 10%;
					color: #fff;
					opacity: 0;
					transition: 0.5s;
					h3 {
						font-size: 30px;
						font-weight: normal;
						line-height: 100%;
					}
					p {
						margin: 15px 0;
					}
					.sns {
						button {
							border: transparent;
							background: #fff;
							padding: 10px 15px;
							cursor: pointer;
							color: #333;
							&:hover {
								color: $color2;
							}
						}
					}
				}
				&:hover {
					.pic {
						&::after {
							opacity: 1;
						}
					}
					.info {
						opacity: 1;
						bottom: 10%;
					}
				}
			}
		}
	}
	.ceo {
		padding: 100px 0;
		.inner {
			display: flex;
			gap: 20px;
			justify-content: space-between;
			.left {
				width: 50%;
				h2 {
					margin: 20px 0;
					font-size: 40px;
					line-height: 120%;
				}
				p {
					font-size: 18px;
				}
			}
			.right {
				width: 50%;
				p {
					font-size: 18px;
					margin-bottom: 20px;
				}
				span {
					display: block;
					text-align: right;
					.sign {
						display: inline-block;
						font-size: 100px;
						font-family: 'Sacramento', cursive;
						margin-left: 20px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.ABOUT {
		.member {
			.inner {
				h2 {
					font-size: 34px;
				}
			}

			ul {
				li {
					width: calc(100% / 2);
					height: 100vh;
					&:nth-of-type(11) {
						padding: 20vh 10vw;
						button {
							width: 60%;
						}
					}
				}
			}
		}
	}
	.ceo {
		.inner {
			.left {
				h2 {
					font-size: 34px;
				}
				p {
					font-size: 16px;
				}
			}
			.right {
				p {
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.ABOUT {
		.member {
			.inner {
				h2 {
					font-size: 30px;
				}
			}
			ul {
				li {
					width: 100%;
					height: 50vh;
					&:nth-of-type(11) {
						padding: 5vh 10vw;
						button {
							width: 60%;
						}
					}
					.info {
						bottom: -40%;
					}
				}
			}
		}
		.ceo {
			.inner {
				flex-direction: column;
				.left {
					width: 100%;
					margin-bottom: 20px;
					h2 {
						font-size: 30px;
					}
				}
				.right {
					width: 100%;
					span {
						display: block;
						text-align: right;
						.sign {
							line-height: 100%;
							text-align: right;
						}
					}
				}
			}
		}
	}
}
