.CONTACT {
	margin-bottom: 0;
	.inner {
		.mapCon {
			padding: 0 0 100px;
			h2 {
				font-size: 20px;
				font-weight: normal;
				padding: 20px 0;
				svg {
					margin-right: 10px;
				}
				text-align: center;
			}
			#map {
				width: 100%;
				height: 500px;
				background: #ccc;
			}
			.mapPlace {
				margin: 50px 0;
				border: 1px solid #ccc;
				display: flex;
				li {
					width: calc(100% / 3);
					padding: 10px 0;
					text-align: center;
					font-size: 16px;
					color: #333;
					border-right: 1px solid #ccc;
					position: relative;
					cursor: pointer;
					&:last-of-type {
						border-right: none;
					}
					&::before {
						opacity: 0;
						content: '';
						display: block;
						position: absolute;
						top: -1px;
						left: 0;
						width: 100%;
						height: 2px;
						background: #3c6ab0;
					}
					&:hover {
						font-weight: bold;
						color: #3c6ab0;
						&::before {
							opacity: 1;
						}
					}
					&.on {
						font-weight: bold;
						color: #3c6ab0;
						&::before {
							opacity: 1;
						}
					}
				}
			}
			.info {
				padding: 50px 0 0;
				display: flex;
				gap: 20px;
				li {
					font-size: 16px;
					strong {
						margin-left: 10px;
					}
					p {
						margin-top: 10px;
					}
				}
			}
		}
	}
	.contactCon {
		background: #fafafa;
		padding: 100px 0;
		h2 {
			text-align: center;
			margin-bottom: 10px;
		}
		p {
			text-align: center;
			margin-bottom: 40px;
		}
		form {
			fieldset {
				b {
					font-size: 16px;
					font-weight: bold;
					color: #333;
					margin-right: 40px;
				}
				label {
					margin-right: 20px;
					font-size: 16px;
					color: #333;
					input[type='checkbox'] {
						display: inline-block;
						margin-right: 10px;
						margin-bottom: 20px;
					}
				}

				.wrap {
					display: flex;
					justify-content: space-between;
					margin-bottom: 20px;
					input[type='text'] {
						display: block;
						width: 49%;
						height: 40px;
						border: none;
						border-bottom: 1px solid #333;
						background: transparent;
						padding: 10px;
						font-size: 16px;
					}
				}
				textarea {
					width: 100%;
					border: none;
					border-bottom: 1px solid #333;
					background: transparent;
					padding: 10px;
					font-size: 16px;
					margin-bottom: 40px;
				}
				input[type='submit'] {
					@include button;
					font-size: 16px;
					float: right;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.CONTACT {
		.wrap {
			.text {
				width: 15%;
				margin-right: 5%;
				h2 {
					text-align: center;
				}
				ul {
					li {
						text-align: center;
						i {
							display: block;
							margin: 0 auto 10px;
						}
					}
				}
			}
			form {
				fieldset {
					legend {
						text-align: center;
					}
					b {
						display: block;
						margin-right: 0px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
