.GALLERY {
	margin-bottom: 0;
	.images {
		padding: 0 0 100px;
		.inner {
			.controls {
				margin-bottom: 50px;
				display: flex;
				justify-content: space-between;
				nav {
					button {
						@include button($background: #eee, $color: #000, $fontSize: 16px, $width: auto);
						padding: 0 20px;
						border-radius: 50px;
						display: inline-block;
						margin-right: 10px;
						&:last-of-type {
							margin-right: 0px;
						}
						&:hover {
							background: #ddd;
							color: #000;
						}
						&.on {
							background: $color2;
							color: #fff;
						}
					}
				}
				.searchBox {
					input {
						display: inline-block;
						width: 200px;
						height: 45px;
						padding: 10px;
						font-size: 16px;
						border: 1px solid #ddd;
					}
					button {
						@include button($width: 45px, $background: $color2, $fontSize: 16px);
						display: inline;
						&:hover {
							background: $color2;
							color: #fff;
						}
					}
				}
			}
			.imgList {
				> ul {
					font-size: 0;
					transform: translateY(200px);
					opacity: 0;
					transition: opacity 0.5s, transform 0.5s;
					&.on {
						transform: translateY(0px);
						opacity: 1;
					}
					&::after {
						@include clear;
					}
					li {
						float: left;
						width: calc(100% / 3);
						padding: 10px;
						div {
							position: relative;

							&:hover {
								span {
									opacity: 1;
								}
								.pic {
									&::after {
										opacity: 1;
									}
								}
							}
							.pic {
								width: 100%;
								overflow: hidden;
								cursor: pointer;
								&::after {
									content: '';
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									background: rgba(0, 0, 0, 0.4);
									z-index: 0;
									opacity: 0;
									transition: 0.5s;
								}
								> img {
									width: 100%;
									object-fit: cover;
									transition: 0.5s;
								}
								i {
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%) scale(0);
									font-size: 30px;
									color: #fff;
									z-index: 1;
									opacity: 0;
									transition: 0.5s;
								}
								&:hover {
									> img {
										transform: scale(1.1);
									}
									i {
										transform: translate(-50%, -50%) scale(1);
										opacity: 1;
									}
								}
							}
							span {
								display: block;
								width: 100%;
								padding: 5px;
								background: rgba(0, 0, 0, 0.5);
								position: absolute;
								bottom: 0;
								left: 0;
								opacity: 0;
								transition: 0.5s;
								p {
									font-size: 16px;
									color: #fff;
									margin-bottom: 10px;
								}
								> img {
									width: 25px;
									height: 25px;
									border-radius: 50%;
									margin-right: 5px;
								}
								strong {
									font-size: 12px;
									font-weight: normal;
									color: #eee;
									line-height: 25px;
									vertical-align: top;
									cursor: pointer;
									transition: 0.3s;
									&:hover {
										font-size: 13px;
									}
								}
							}
						}
					}
				}
			}
			.loading {
				width: 100px;
				position: fixed;
				top: 70%;
				left: 50%;
				transform: translateX(-50%);
				transition: 1s;
			}
		}
	}
	.bottom {
		width: 100%;
		background: #fafafa;
		padding: 100px 0;
		text-align: center;
		position: relative;
		.bgL {
			i {
				@for $i from 1 through 5 {
					&:nth-of-type(#{$i}) {
						top: 100px * $i;
					}
				}
				&:nth-of-type(1) {
					left: 5%;
				}
				&:nth-of-type(2) {
					left: 20%;
					transform: scale(0.8);
				}
				&:nth-of-type(3) {
					left: 6%;
					transform: scale(0.9);
				}
				&:nth-of-type(4) {
					left: 30%;
					transform: scale(1.1);
				}
				&:nth-of-type(5) {
					left: 10%;
				}
			}
		}
		.bgR {
			i {
				@for $j from 1 through 5 {
					&:nth-of-type(#{$j}) {
						top: 100px * $j;
					}
				}
				&:nth-of-type(1) {
					right: 5%;
				}
				&:nth-of-type(2) {
					right: 20%;
					transform: scale(0.8);
				}
				&:nth-of-type(3) {
					right: 6%;
					transform: scale(0.9);
				}
				&:nth-of-type(4) {
					right: 30%;
					transform: scale(1.1);
				}
				&:nth-of-type(5) {
					right: 15%;
				}
			}
		}
		.bg {
			i {
				position: absolute;
				width: 100px;
				height: 100px;
				line-height: 100px;
				background: #fff;
				border-radius: 50%;
				color: rgba($color2, 0.8);
				box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.04);
				font-size: 40px;
			}
		}
		.inner {
			h3 {
				padding: 0 150px;
				margin-bottom: 50px;
			}
			p {
				padding: 0 250px;
				color: #555;
			}
			button {
				@include button($height: 50px, $fontSize: 16px, $background: $color2);
				margin: 50px auto;
				&:hover {
					border: 1px solid $color2;
				}
			}
		}
	}
}
aside {
	.con {
		> img {
			object-fit: contain;
		}
	}
}

@media screen and (max-width: $tablet) {
	.GALLERY {
		.images {
			.inner {
				.imgList {
					> ul {
						li {
							width: calc(100% / 2);
						}
					}
				}
			}
		}
		.text {
			.inner {
				p {
					&:nth-of-type(2),
					&:nth-of-type(3) {
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.GALLERY {
		.images {
			.inner {
				.controls {
					flex-direction: column;
					gap: 20px;
					nav {
						display: flex;
					}
					.searchBox {
						width: 100%;
						input {
							width: calc(100% - 45px);
						}
					}
				}
				.imgList {
					> ul {
						li {
							width: 100%;
						}
					}
				}
			}
		}
		.text {
			.inner {
				padding: 0 20px;
			}
		}
	}
}
