$tablet: 1179px;
$mobile: 539px;

$color1: #112640;
$color2: #6ca6c1;
$color3: #ffe66d;
$color4: #f7fff7;

// common
@import './common/reset';
@import './common/header';
@import './common/footer';
@import './common/layout';
@import './common/modal';
@import './common/menu';
@import './common/mixin';

// main
@import './main/visual';
@import './main/about';
@import './main/company';
@import './main/contact';
@import './main/news';
@import './main/work';
@import './main/btns';

// sub
@import './sub/about';
@import './sub/contact';
@import './sub/gallery';
@import './sub/join';
@import './sub/news';
@import './sub/service';
@import './sub/community';
@import './sub/notice';
